@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input {
}
input:focus {
  border-color: rgba(31, 42, 49, 0.8);
}

* {
  font-family: "kanit", sans-serif;
}
/* body {
  background-color: #0000004f;
} */

.slide-content {
  transition: opacity 0.5s ease-in-out;
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  opacity: 1;
}

.slide-content {
  z-index: 1000;
}

.container {
  margin: 0 auto;
}
.nav .links .link::after {
  content: "";
  padding: 1px;
  background-color: transparent;
  width: 1%;
}

.nav .links .link.active {
  color: #145da0;
}
.active-plus {
  color: #007bff;
}
.nav .links .link.active::after {
  width: 100%;
  background-color: #145da0;
}

.nav .links .link:hover::after {
  width: 80%;
  background-color: #145da0;
}

.section {
  padding: 80px 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .section-title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-title .title {
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    font-size: 25px;
    width: fit-content;
    padding: 10px 0;
    text-transform: capitalize;
    text-align: center;
  }
  .section-title .sub-title {
    font-weight: 300;
    color: #606264;
    font-size: 18px;
    letter-spacing: 1px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* card-wcu */
  .card-wcu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    gap: 20px;
  }
  .card-wcu img {
    object-fit: cover;
    width: 100%;
  }

  .card-wcu .description .etapes .etapes-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card-wcu .description .etapes .etapes-items .etape {
    display: flex;
    gap: 15px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: left;
    font-size: 15px;
  }
  .card-wcu .description .etapes .etapes-items .etape .number {
    font-weight: 500;
    width: max-content;
    font-size: 16px;
  }
  .card-wcu .description .etapes {
    width: fit-content;
  }
  .card-wcu .description .etapes .etapes-title {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding: 5px 0;
    text-transform: uppercase;
  }
  .card-wcu .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .card-wcu .description .btn:hover {
    background-color: #007bff;
  }
  .card-wcu .description .btn {
    background-color: #145da0;
  }
  .card-wcu .description button {
    font-size: 15px;
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 0.2rem;
    color: #fff;
    transition: background-color 0.3s;
  }

  .card-wcu .description .title {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Quicksand", sans-serif;
  }

  .card-wcu .description .des-content {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    font-family: "Quicksand", sans-serif;
  }
  .btn-primary {
    background-color: #0056b3;
    font-size: 15px;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s;
    letter-spacing: 1px;
    width: fit-content;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #007bff;
  }

  .btn-secondary {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-secondary:hover {
    background-color: #218838;
  }

  /* form style */
  .form {
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    margin: 0 auto;
    border: 1px solid rgba(31, 42, 49, 0.288);
    overflow: hidden;
  }

  .form .form-title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    background-color: #0057b318;
    border-bottom: 1px solid rgba(31, 42, 49, 0.288);
    letter-spacing: 1px;
  }
  .form .form-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }

  .form .form-content .form_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form .form-content .form_inputs .input {
    display: flex;
    flex-direction: column;
  }
  .form .form-content .form_inputs .input label {
    color: rgba(31, 42, 49, 0.718);
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
  }

  .form .form-content .form_inputs .input label span {
    color: #df3b3b;
  }
  .form .form-content .form_inputs .input input {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 2px solid #1f2a3125;
    border-radius: 0.2rem;
    padding-left: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
    font-weight: 300;
    color: #595a5c;
  }
  .form .form-content .form_inputs .input input:focus {
    border-color: #1f2a31cc;
  }

  .form .form-content .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* reservation */
  .etape {
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9fafb;
  }

  .etape.validated {
    background-color: #d1fae5;
  }

  .etape_title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .etape_content {
    margin-top: 0.5rem;
  }

  /* step form */
  .step-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .step-form .step_form_title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .step-form .step_form_title .title {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }
  .step-form .step_form_title .sub_title {
    font-family: "Quicksand", sans-serif;
  }

  .step-form .form_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .step-form .form_content .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .step-form .form_content .inputs .champ {
    display: flex;
    flex-direction: column;
  }
  .step-form .form_content .inputs .champ label {
    font-family: "Quicksand", sans-serif;
    text-transform: capitalize;
    margin-bottom: 3px;
    font-weight: 500;
    color: #4d4d4d;
    font-size: 15px;
  }
  .step-form .form_content .inputs .champ input,
  .step-form .form_content .inputs .champ textarea {
    outline: none;
    transition: 0.3s ease;
    border: 1.9px solid #79797970;
    border-radius: 0.2rem;
    padding: 3px;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
  }
  .errorMode {
    border-color: #ff4040 !important;
  }
  .error {
    font-family: "Quicksand", sans-serif;
    color: red;
    font-weight: 400;
    font-size: 14px;
    text-transform: lowercase;
    margin-top: -2px;
  }
  .step-form .form_content .inputs .champ input:focus,
  .step-form .form_content .inputs .champ textarea:focus {
    border-color: #1f2a31cc;
  }

  /* tasker */

  /* details review */
  .review-all {
    font-size: 16px;
  }
  .reservation_details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .reservation_details .chield {
    border: 1px solid #9e9e9e69;
    padding: 5px;
    border-radius: 0.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .reservation_details .chield .edit {
    position: absolute;
    right: 10px;
    top: 40%;
    color: #4d4d4d;
  }

  .reservation_details .chield .edit svg {
    transition: all 0.2s ease;
  }
  .reservation_details .chield .edit svg:hover {
    color: #0056b3;
    cursor: pointer;
    font-size: 18px;
  }
  .reservation_details .chield .item {
    display: flex;
    font-family: "Quicksand", sans-serif;
    gap: 10px;
  }
  @screen sm {
    .section-title {
      margin-bottom: 40px;
    }
    .section-title .title {
      font-size: 25px;
    }
    .section-title .sub-title {
      font-size: 20px;
    }

    /* card-wcu */
    .card-wcu {
      display: flex;
      flex-direction: row;
      padding: 25px;
      gap: 25px;
      align-items: center;
    }
    .card-wcu img {
      object-fit: cover;
      width: 100%;
    }

    .card-wcu .description {
      text-align: center;
      align-items: center;
    }

    .card-wcu .description .title {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    .card-wcu .description .des-content {
      --tw-text-opacity: 1;
      color: rgb(75 85 99 / var(--tw-text-opacity));
    }

    .card-wcu .description .etapes .etapes-items .etape {
      font-size: 16px;
    }

    /* step form */

    .step-form .step_form_title {
      letter-spacing: 1px;
    }

    .step-form .step_form_title .title {
      font-size: 16px;
    }
    .step-form .step_form_title .sub_title {
    }
    .step-form .form_content .inputs .champ label {
      font-size: 16px;
    }

    /* details review */
    .review-all {
      font-size: 18px;
    }

    .reservation_details .chield {
      padding: 10px;
    }
  }

  @screen md {
    .form .form-content .form_inputs {
      display: grid;
      padding: 20px;
    }

    .form .form-content .form_inputs .input input {
      width: 300px;
    }

    /* step form */
    .step-form .step_form_title .title {
      font-size: 18px;
    }
    .step-form .step_form_title .sub_title {
    }
    .step-form .form_content .inputs .champ input {
      height: 50px;
      font-size: 17px;
    }

    /* details review */
    .review-all {
      font-size: 20px;
      letter-spacing: 1px;
    }

    .reservation_details .chield {
      padding: 10px;
    }
  }
  @screen lg {
    .card-wcu img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .card-wcu {
      align-items: center;
    }
    .card-wcu .description {
      gap: 15px;
    }

    .card-wcu .description .title {
      font-size: 1.3rem;
      line-height: 1rem;
      font-weight: 600;
    }

    .card-wcu .description .des-content {
      font-size: 1.2rem;
      font-weight: 400;
    }

    /* step form */
    .step-form .step_form_title .title {
      font-size: 20px;
      font-weight: 600;
    }
    .step-form .step_form_title .sub_title {
    }

    /* details review */
    .reservation_details .chield {
      padding: 15px;
    }
  }
}
