@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "kanit", sans-serif;
}
/* body {
  background-color: #0000004f;
} */
.hero-slider {
  position: relative;
  overflow: hidden;
}

.slide-content {
  transition: opacity 0.5s ease-in-out;
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  opacity: 1;
}

.slide-content {
  z-index: 1000;
}

.container {
  margin: 0 auto;
}
.nav .links .link::after {
  content: "";
  padding: 1px;
  background-color: transparent;
  width: 1%;
}

.nav .links .link.active {
  color: #145da0;
}

.nav .links .link.active::after {
  width: 100%;
  background-color: #145da0;
}

.nav .links .link:hover::after {
  width: 80%;
  background-color: #145da0;
}

.section {
  padding: 60px 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
